.container {
  width: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #43729d;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 400px;
  align-items: stretch;
  margin: 0 auto;
}

select {
  width: 220px;
  background-color: #dde5ef;
  border: 1px solid #43729d;
  font-size: 20px;
  padding-left: 10px;
}

label {
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  box-sizing: border-box;
}

.form_item {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}

input {
  width: 200px;
  border: 1px solid #43729d;
  background-color: #dde5ef;
  font-size: 20px;
  padding-left: 15px;
}
/* select#faculty {
    border: #4f81bd solid 2px;
    width: 205px;
    height: 35px;
    background-color: #e1eaf4 !important;
    font-size: 14px;
  } */

.buttons {
  display: flex;
}

button {
  display: flex;
  justify-content: center;
  min-width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: #4f80bc;
  border: 2px solid #42648f;
  border-radius: 10px;
}

.cancel {
  display: flex;
  justify-content: center;
  min-width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  background-color: #4f80bc;
  border: 2px solid #42648f;
  border-radius: 10px;
  width: 50px;
}

.button {
  min-width: 10px;
  font-size: 18px;
  padding: 2px 15px;
  color: white;
  background-color: #8eadd2;
  border: 2px solid #7d99bb;
  border-radius: 0px;
  margin-right: 10px;
}

table {
  width: 100%;
  margin: 20px 0px;
}

th {
  text-align: start;
}
