.required:after {
  color: #ff3939;
  content: " *";
}

form {
  width: 450px;
  height: 540px;
  border: solid #547fa5 2px;
  padding: 20px 40px 10px 20px;
  margin: 100px auto;
}

.gender {
  margin: 0px 10px 0px 15px;
}

#file {
  height: 30px;
  width: 120%;
}

.frames {
  color: black;
  border: solid #41719c 2px;
  height: 30px;
  width: 80%;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

label {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

.green_background {
  color: aliceblue;
  background-color: #2e74b5;
  width: 100px;
  padding: 0px 10px;
  border: solid #41719c 2px;
}

.blue-box {
  border: #41719c solid 2px;
  line-height: 20px;
  height: 30px;
  width: 130px;
}

.submit {
  background-color: #2e74b5;
  color: aliceblue;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  width: 30%;
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  border: solid #41719c 2px;
  margin: 5% 0% 0% 40%;
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 20px;
}
